.homeContainer{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    border-bottom: solid 1px #c8c9ca;
    margin-bottom: 1rem;
    h1{
      margin-bottom: 0;
    }
    .none{
      display: none;
    }
  }
  
}